body {
  background-color: white;
  color: #999;
  font-family: "Helvetica","Arial",sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#civicurbanisminput {
  background: black;
  border-radius: 50px;
  margin: 0 auto;
  top: 30%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 95%;
  max-width: 900px;
  height: 35%;
  text-align: center;
  /* background: url("../img/Postcard-Web-BG.svg") center center no-repeat; */
  background-size: contain;
}
#civicurbanisminput:after { content: ''; position: absolute; bottom: 0; left: 50%; width: 0; height: 0; border: 50px solid transparent; border-top-color: black; border-bottom: 0; border-left: 0; margin-left: -10px; margin-bottom: -50px; }

h1 {
  font-size: 6rem;
  margin-top: -0.72em;
  color: black;
  text-shadow: 0px 0px 11px white;
}

textarea {
  font-size: 3rem;
  background: transparent;
  color: white;
  width: 98%;
  border: none;
  box-shadow: 0px 0px 50px black;
}

#civicurbanisminput input {
  display: block;
  margin: 35px auto 0 auto;
  background-color: transparent;
  border: 0px #000;
  border-bottom: 1px solid #fff;
  padding: 10px;
  width: 70%;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

#civicurbanisminput input#submit {
  margin-top: 3em;
  width: 100%;
  border: 0;
  color: black;
}
#civicurbanisminput input#submit:hover {
  font-weight: bold;
  cursor: pointer;
}

#footer {
  width: 100%;
  text-align: center;
  display: block;
  bottom: 15px;
  position: absolute;
  font-size: 1rem;
  line-height: 1.5em;
}

#footer a {
  text-decoration: none;
  color: #555;
}

#footer a:hover {
  color: #fff;
}

#footer p {
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: -2em;
    font-size: 4rem;
  }
  body {
    overflow-y: auto;
  }
  #footer {
    z-index: -1;
    position: relative;
    margin-top: 200%;
  }
}
